form.megatron {
    max-width: 680px;
    margin: 40px auto 0 auto;
}

form.megatron input {
    display: block;
}

form.megatron input:not([type=submit]) {
    width: 100%;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    outline: none;
    border: none;
    padding: 0;
}

#question .panel {
    padding: 20px 50px 0 50px;
}
