{% extends "layout.html" %}

{% block header %}
    <ul class="pagination">
        <li class="active action-change-mode" data-mode="exam"><a href="#">Condition réelles</a></li>
        <li class="action-change-mode" data-mode="training"><a href="#">Entrainement</a></li>
    </ul>
{% endblock %}

{% block subtitle %}
    <span class="subtitle"></span>
{% endblock %}

{% block content %}
    <div id="exam"></div>
    <div id="spinner" class="hide">
        <p>
            <i class="glyphicon glyphicon-cloud-upload"></i><br>
            Sauvegarde de vos résultats…
        </p>
    </div>
{% endblock %}

{% block js %}
    <script type="text/html" id="tpl-question">
        {% include "boating/question.hogan" %}
    </script>
    <script type="text/html" id="tpl-session">
        {% include "boating/session.hogan" %}
    </script>
    <script>
        Piodyssey.data = {{ questions }};
        Piodyssey.Templates.question = Hogan.compile($('#tpl-question').html());
        Piodyssey.Templates.session = Hogan.compile($('#tpl-session').html());
        Piodyssey.app.start = function() {
            Piodyssey.questions = new Piodyssey.Collections.Questions(Piodyssey.data, {parse: true});
            Piodyssey.app.view = new Piodyssey.Views.Exam({collection: Piodyssey.questions});
            Piodyssey.app.view.render();
        };
    </script>
{% endblock %}
