{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Piodyssey — {% block title %}{% endblock %}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="{% static "css/base.css" %}" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Piodyssey</h1>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissable alert-{% if message.tags %}{{ message.tags }}{% else %}danger{% endif %}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/2.0.0/hogan.js"></script>
        <script src=""></script>
        <script>
            Piodyssey = {
                Models: {},
                Views: {},
                Templates: {},
                app: {
                    start: function() {}
                }
            };
            $(document).ready(function() {
                Piodyssey.app.start();
            });
        </script>
        <script src="{% static "js/models/question.js" %}"></script>
        <script src="{% static "js/views/question.js" %}"></script>
        <script src="{% static "js/views/exam.js" %}"></script>
        <script src=""></script>
        {% block js %}{% endblock %}
    </body>
</html>
