{% extends "layout.html" %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Email inconnu ou mot de passe invalide.
    </div>
{% endif %}

<form method="post" class="megatron" action="{% url 'users:login' %}">
    <input type="text" name="username" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login" class="btn btn-primary btn-lg" />
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</form>

{% endblock %}
